/*Note: I have used element selectors instead of class selectors because it make this clean/reasonable (since it is not effecting the appearence)*/

:root {
    --shadow: rgba(0, 0, 0, 0.7);
}

body {
    /*Fallback*/
    background-color: #87cefa;
    background-image: linear-gradient(#ffffff, #87ceeb);

    background-image: url(./image.jpg);
    background-size: cover;
    height: 98vh;
    width: auto;
    perspective: 1000px;
}

header {
    cursor: default;
    text-align: center;
    text-decoration: underline;
}

main {
    transform-style: preserve-3d;
}

/*Parent element of the form*/
div {
    background-color: rgba(0, 0, 0, 0.465);
    margin-top: 26vh;
    margin-left: 50%;
    transform: translate3d(-50%, 0, -270px) rotateX(33deg);
    padding: 50px;
    min-width: 300px;
    border-radius: 9px;
    box-shadow: 0 10px 10px 5px var(--shadow);
    transition: 1s;
    transform-style: inherit;
}

div:hover, div:focus-within {
    transform: translate3d(-50%, 0, 0) rotateY(30deg);
    box-shadow: 0 0 5px 2px var(--shadow);
}

form {
    color: #ffffff;
    padding: 25px;
    border-radius: inherit;
    transform-style: inherit;
}

label {
    display: block; /*For tranform property*/
    transform-style: inherit;
}

br {
    user-select: none;
}

input{
    color: #000000;
    background-color: #f0f8ff;
    font-size: max(19px, min(1.5rem, 1vw, 25px));
    border: none;
    border-radius: 4px;
    outline: none !important;
    transition: 1s;
}

input:focus, input:hover {
    transform: translate3d(30px, 0, 100px);
}

button {
    color: #ffffff;
    background-color: rgba(70, 70, 70, 0.3);
    cursor: pointer;
    user-select: none;
    padding: 10px;
    border: none;
    border-radius: 7px;
    transition: 0.4s;
}

button:hover {
    background-color: transparent;
}

@media screen and (max-width: 1140px) {
    input {
        max-width: 200px
    }
}

@media screen and (max-width: 981px) {
    div {
        padding-left: 25px;
        padding-right: 25px;
    }
    input:focus, input:hover {
        transform: translate3d(-10px, 8px, 70px);
    }
}

@media screen and (max-width: 720px) {
    div {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-height: 750px) {
    div {
        margin-top: 15vh;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media screen and (max-height: 480px), (max-width: 793px) {
    body {
        height: 128vh;
    }
}

@media screen and (max-width: 360px) and (max-height: 640px), (max-height: 410px) {
    header {
        font-size: 12px;
    }
    div {
        margin-top: 5vh;
        padding: 5px;
    }
}